@import "../../styles/index.scss";
.label {
  margin: 5px 0;
  font-size: 12px;
}
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: $borderx1;
  &.bordered {
    border: 2px solid rgba(84, 95, 125, 0.15);
    width: 100%;
    padding: 10px;
  }

  select {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    // padding-right: 25px;
    background-color: transparent;
    color: $primary_blue;
    font-weight: 600;
  }

  svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;

    &:before {
      content: "\\25BC";
      font-size: 0.8em;
    }
  }
}
