@import "../../styles/index.scss";

.sidebarLayout {
  background-color: $background_wrapper;
}

.contentLayout {
  padding: 0 25px;
  padding-top: 55px;
  width: 100%;
  overflow-x: hidden;
  transition: 0.3s ease all;
  margin-left: 250px;
  @include breakpoint(sm) {
    overflow-x: unset;
  }
}
.fullwidth {
  width: 100%;
  margin-left: 0px;
}
.spacingContainer {
  width: 200px;
  flex-shrink: 0;
}
.layoutPageContainer {
  display: flex;
  overflow-x: hidden;
  width: 100%;
}
.layoutContainer {
  padding-top: 80px;
  display: flex;
}
