@import "../../../styles/index.scss";
.summaryBox {
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 10px;
  width: 47%;
  @include breakpoint(lgg) {
    width: 23%;
  }
  @include breakpoint(sm) {
    width: 44%;
  }
  @include breakpoint(ss) {
    width: 100%;
  }

  > * {
    font-size: 12px;
    font-family: $secondary_font;
    margin: 8px;
    white-space: nowrap;
    @include breakpoint(md) {
      font-size: 12px;
    }
    @include breakpoint(xs) {
      white-space: pre-wrap;
    }
  }
}
